<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Channel Chat</title>
		<link rel="stylesheet" href="/css/channel.css">
		<script src="/js/channel.js" defer></script>
	</head>
	<body>
		<div class="container">
			<h1 id="channelName">Channel: <span th:text="${channel.channelName}"></span></h1>
			
			<div id="chatWindow">
			</div>
			
			<textarea id="messageInput" placeholder="Type your message..."></textarea>
			
			<button id="sendButton">Send</button>
		</div>
	</body>
</html>